body {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: khaki;
}
.list {
    display: grid;
    grid-template-rows: 50px auto 30px;
    grid-template-columns: auto;
    grid-template-areas: "nav" 
                        "section"
                        "footer";
}
.header {
    width: 100%;
    height: 200px;
    /* background-color: khaki; */
    background-image: url("https://www.crushpixel.com/big-static14/preview4/background-from-set-colour-pencils-1620157.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-size: 5em;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid black;
    font-weight: bold;
    color: white;
    

}
.header div {
    padding-left: 10%;
    text-shadow: black 5px 5px;
}

main {
    display: grid;
    grid-template-rows: 50px 400px 30px;
    grid-template-columns: auto;
    grid-template-areas: "nav" 
                        "section"
                        "footer";
}

nav {
    grid-area: "nav";
    border-bottom: solid black;
    background-color: khaki;
}

nav div {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a:visited{
    color: blue;
}
a:active {
    color: rebeccapurple;
}

a:hover {
    background-color: #948a70;
}

nav a {
    background-color: #c7e3ec;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}


nav span:hover{
    background-color: #948a70;
    cursor: pointer;
}



.formCont {
    grid-area: "section";
    height: 100%;
    border-bottom: solid black;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas: "login" "intro";

}

.createTask {
    grid-area: "section";
    height: 100%;
    border-bottom: solid black;
}
.taskForm {
    padding-left: 10px;
    font-size: larger;
    /* display: flex; */
    /* flex-wrap: wrap; */
    
}

.form {
    grid-area: "login";
    border-right: solid black;
    /* font-size: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: khaki;
}

.login[type="text"] {
    width: 40%;
    height: 12%;
    /* width: 300px;
    height: 50px; */
    font-size: 2em;
}

.login[type="submit"] {
    height: 70px;
    width: 200px;
    font-size: 3em;
    cursor: pointer;
    border: 0;
    background-color: orangered;
    border-radius: 30px;
}


footer{
    grid-area: "footer";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: khaki;
    border-top: black solid;

}
#signUp {
    color: orange;
}

.intro {
    grid-area: "intro";
    font-size: 2em;
    padding-left: 10px;

}

#introHead {
    font-weight: bold;
    text-decoration: underline;
}

.listForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* task card */
.task-cards-container {
    display: flex;
    grid-gap:50px;
    justify-content: space-between;
  }
  
  .task-card {
    width: 30%;
    background-color: #f2f2f2;
    padding: 50px;
    margin-bottom: 1em;
    margin-left: 170px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;

  }
  .task-cards-container>div:hover{
    transform: scale(1.25);
  transition: all 0.3s ease-in-out;
}
  
  h3 {
    margin-top: 0;
  }

/* Nav button */
  ul {
    list-style-type: none; /*no marker will be displayed*/
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
li {
    float: left;
    margin-right: 20px;
}
  
li a {
    display: block;
    background-color: #c7e3ec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}
  
li a:hover, a:active {
    background-color: #948a70;
}
.center-button {
	display: table; 
	margin: 0 auto;
}

/* center text*/
.center-text{
    text-align: center;
}
h2::first-letter {
    color: #885980;
    font-size: xx-large;
}