body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.header {
    width: 100%;
    height: 200px;
    background-color: khaki;
    display: flex;
    font-size: 5em;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid black;
    font-weight: bold;

}
.header div {
    padding-left: 10%;
}

main {
    display: grid;
    grid-template-rows: 50px 400px;
    grid-template-columns: auto;
    grid-template-areas: "nav" 
                        "section";
}

nav {
    grid-area: "nav";
    border-bottom: solid black;
    background-color: khaki;
}

nav div {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formCont {
    grid-area: "section";
    height: 100%;
    border-bottom: solid black;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    grid-template-areas: "login" "XXX";

}

.form {
    grid-area: "login";
    border-right: solid black;
    /* font-size: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: khaki;
}

.login[type="text"] {
    width: 40%;
    height: 12%;
    /* width: 300px;
    height: 50px; */
    font-size: 2em;
}

.login[type="submit"] {
    height: 70px;
    width: 200px;
    font-size: 3em;
    cursor: pointer;
    border: 0;
    background-color: orangered;
    border-radius: 30px;
}
